* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
   box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  position: relative;
}

button, a, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
