@import 'src/assets/stylesheets/main.scss';

.CurrencyConverter {
    width: 816px;
    margin-top: 22px;
    @media (max-width: 900px) {
       width: 100%;
    }
}

.SelectsContainer {
    width: 100%;
    @include flex(row, flex-start, space-between);
    @media (max-width: 900px) {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
}

.Paragraph {
    font-family: JosefinSans-Bold;
    font-size: 33px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 8px;
    @media (max-width: 900px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.ParagraphBigger {
    font-family: JosefinSans-Bold;
    font-size: 52px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 28px;
    @media (max-width: 900px) {
        padding-top: 0px;
        margin-top: 10px;
    }
}
