@import 'src/assets/stylesheets/main.scss';

.CurrencyRate {
    width: 100%;
    margin-top: 23px;
    text-align: center;
    display: block;
    color: white;
    font-family: JosefinSans-Light;
    font-size: 23px;
    letter-spacing: 0;
    outline: none;
}