@import 'src/assets/stylesheets/main.scss';

.CurrencyRate {
    width: 100%;
    margin-top: 23px;
    text-align: center;
    display: block;
    color: white;
    font-family: JosefinSans-Light;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0;
    outline: none;
    cursor: default;
    @media (max-width: 600px) {
        margin-top: 10px;
    }
}