@import 'src/assets/stylesheets/main.scss';

.currencySelect {
    width: 356px;
    box-shadow: none;
    :global &__control { 
        height: 50px;
        border: none;
        box-shadow: none !important;
        border-color: white !important;
        outline: none;
    }
    :global &__option { 
        height: 30px;
        background-color: white;
        font-family: JosefinSans-Bold;
        font-size: 17px !important;
        color: #7D8792 !important;
        letter-spacing: 0;
        text-transform: uppercase;
        outline: none;
        &:hover, &:focus {background-color: #F6F6F6}
    }

    :global &__option--is-selected { 
        background-color: #F8F8F8 !important;
    }

    :global &__menu { 
        border: none;
        box-shadow: none !important;
    }

    :global &__placeholder {
        padding-top: 5px;
        margin-left: 4px;
        font-family: JosefinSans-Bold;
        font-size: 20px;
        color: #7D8792;
        letter-spacing: 0;
        text-transform: uppercase;
        text-align: center;
        outline: none;
    }

    :global &__single-value {
        font-family: JosefinSans-Bold;
        font-size: 20px;
        color: #7D8792 !important;
        letter-spacing: 0;
        text-transform: uppercase;
        text-align: center;
        padding-top: 5px;
    }

    @media (max-width: 600px) {
        width: 80%;
    }
}

