@import './assets/stylesheets/main.scss';

.App {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-image: linear-gradient(160deg, #0093E8 0%, #80D0C7 100%);
  position: relative;
  @include flex(column, center, flex-start);
  &__heading {
    font-family: JosefinSans-Bold;
    font-size: 90px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 190px;
    text-align: center;
    @media (max-width: 720px) {
      font-size: 35px;
      padding-top: 100px;
    }
  }
}

