@import './assets/stylesheets/main.scss';

.App {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-image: linear-gradient(160deg, #0093E8 0%, #80D0C7 100%);
  position: relative;
  @include flex(column, center, flex-start);
  &__heading {
    font-family: JosefinSans-Bold;
    font-size: 90px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 190px;
    text-align: center;
    @media (max-width: 720px) {
      font-size: 35px;
      padding-top: 100px;
    }
  }
}

.Copy {
  width: 100%;
  @include flex-column-center();
  position: absolute;
  bottom: 30px;
  &__github {
    font-family: JosefinSans-SemiBold;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    a {
        font-family: JosefinSans-SemiBold;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        @include ease-transition(opacity);
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
  }
  &__source {
    font-family: JosefinSans-Light;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 8px;
  }
}
